


     <div class="row" style="margin-top: 20px;">

      <div class="col-md-1" style=" margin-top: 58px;" >
		 	 	  <button  type="button" ng-click="go_back()" style="margin-top: 81px;
margin-left: -12px;;background-color: #222222" class="btn btn-info btn-arrow-left">Back</button>
   
		 	
	  </div>


      <div class="col-md-3" style="margin-left: 50px;margin-top: 58px;" >
		 	 	   <div  ng-bind-html="cache.small_price_plot" ></div> 
		 	
	  </div>




	


           <div class="col-md-.5" style=" margin-top: 58px;" >
		 	 	  <button  type="button" ng-click="" style="margin-top: 81px;
                     margin-left: -8px;;background-color: #222222" class="btn btn-info btn-arrow-right">Forecast</button>
   
		 	
	         </div>
    
     </div>






     
     