

     <div class="row" style="margin-top: 20px;">

              <div  class="col-sm-1 col-md-1" >
               <button ng-click="change_state('decomposed'); " type="button" style ="margin-top:208.9%;background-color: #222222;width: 113%;" class="btn btn-info btn-arrow-left">Back</button>
              </div>


            <div  class="col-sm-4 col-md-4" style="">
                   <div class="row" >
                     <div class="col-sm-6 col-md-6"  style="border-style: solid;border-width: thin;border-color: white;" ng-bind-html="cache.small_price_plot" ></div>
                     <div class="col-sm-6 col-md-6" style="border-style: solid;border-width: thin;border-color: white;" ng-bind-html="cache.trend_cycle"></div>
               


                   </div>
                    <div class="row" >
                       <div class="col-sm-6 col-md-6"  style="border-style: solid;border-width: thin;border-color: white;" ng-bind-html="cache.seasonality"></div>
                     <div class="col-sm-6 col-md-6"  style="border-style: solid;border-width: thin;border-color: white;" ng-bind-html="cache.noise"></div>
               
                   </div>
            </div>


              <div  class="col-sm-2 col-md-2" >
               <button ng-click="choose_decompose=true" type="button" style ="margin-top:87.9%;background-color: #222222;width: 89%;" class="btn btn-info btn-arrow-right">Forecast</button>
              </div>

              <div  class="col-sm-2 col-md-2" >
                <div class="row" style="margin-top: 50%;">
                 <button ng-click="forecast('naive');" type="button" class="btn btn-primary btn-sm" style="width: 78%;margin-top: -36%;margin-bottom: 23%;background-color: #222222;height: 11%;overflow:hidden">Naive</button>
               <button ng-click="forecast('mean');" type="button" class="btn btn-primary btn-sm" style="width: 78%;margin-top: -19%;margin-bottom: 6%;background-color: #222222;height: 11%;overflow:hidden">Mean</button>
       
              <button ng-click="forecast('holt_linear_trend');" type="button" class="btn btn-primary btn-sm" style="width: 78%;margin-top: -2%;margin-bottom: 4%;background-color: #222222;height:11%;overflow:hidden">Holt Linear Trend</button>

              <button  ng-click="forecast('exponential_trend');" type="button" class="btn btn-primary btn-sm" style="width: 78%;margin-top: 0%; margin-bottom: 4%;background-color: #222222;height: 11%;overflow:hidden">Exponential Trend</button>

               <button  ng-click="forecast('additive_damping_trend');" type="button" class="btn btn-primary btn-sm" style="width: 78%;margin-top: 0%; margin-bottom: 4%;background-color: #222222;height: 11%;overflow:hidden">Additive Damping Trend</button>

                <button  ng-click="forecast('multiplicative_damping_trend');" type="button" class="btn btn-primary btn-sm" style="width: 78%;margin-top: 0%; margin-bottom: 4%;background-color: #222222;height: 11%;overflow:hidden">Multip. Damping Trend</button>
       
              </div>
              </div>


               
      <div  class="col-sm-3 col-md-3" ng-bind-html="cache.forecast" style="margin-top: 0%;margin-left: -42px;">
       </div>



    
     </div>






     
     