
<style type="text/css">


[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}



main.ng-enter {
    /* transition on enter for .5s */
    transition: 50s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}

@keyframes my_animation {
  from { opacity: 0; }
  to   { opacity: 0; }
}




#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 142px;
    width: 223px;
    background: #222;
    position: absolute;
    height: 103%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 142px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 100%;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 26px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 26px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}










.bs-example {
  font-family: sans-serif;
  position: relative;
  vertical-align:inherit;

  margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 15px; /* Set input font size */
  height: 25px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 100px;
  margin-left:2;
 
}
.typeahead {
  background-color: #FFFFFF;
 
  
}
.typeahead:focus {
  border: 2px solid #0097CF;
  
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

}
.tt-hint {
  color: #999999;
}
.tt-menu {
  background-color: #152C37;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 1px 0;
  width: 155px;
}
.tt-suggestion {
  font-size: 15px;  /* Set suggestion dropdown font size */
  padding: 3px 20px;
  color: white;
}
.tt-suggestion:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}
.tt-suggestion p {
  margin: 0;
}
</style>



<div style="background-color:#152C37 ;width:100%;height: 100%">

<div class="container" style="width:100%;padding:0" >
<!-- 
<div class="col-md-2" style="padding:0;background-color: #0D1C23;height: 100%;width=100%" > 




  <div id="wrapper" class="active">  
   <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a>Forecast Security<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
           <ul class="sidebar-nav" id="sidebar">
                <li><a>Time series analysis<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>Money Market<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
           </ul>
          <li><a>Portfolio Optimiser<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>Derrivative analysis<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>

      </div>




 </div> -->
<div class="col-md-12" style="border:thin solid #373748;padding:0">

 <!-- <div class=" page-header" style="margin-bottom: 10px;margin-top:-10px;padding-bottom: -8px !imp">
    <h1  style ="color: white;font-size:16px;margin-left: 16px">Forecast Security</h1>
   </div>
 -->


 <div class="row">
   
<nav class="navbar navbar-default" style="background-color: white">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" >Forecast Security</a></li>
            <li ><a href="#">Portfolio Management</a></li>
            <li><a href="#">Back Testing</a></li>
            <li><a href="#">Financial Reporting</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>



 </div>

   <div class="row"  style="margin-left:0px; margin-right:0px;">
   <!--https://bootsnipp.com/snippets/featured/navbar-search-add-on-bs-3 -->
      <nav class="navbar navbar-default" role="navigation" style="height: 26px;" >
  <!-- Brand and toggle get grouped for better mobile display -->
 <!--  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   </div> -->
   <div  class="col-sm-4 col-md-4"></div>
   <div class="col-sm-2 col-md-2" style="margin-left: 11px;    margin-top: 7px;">
        <div class="input-group" style="margin-left:3px">
              <typeahead items="stocks" prompt="promt" title="name" subtitle="abbreviation" model="cache.selected_stock" on-select="change_state('plot')" />        
        </div>
       
    </div>

     <div class="col-sm-1 col-md-1" style="   margin-top: 7px;">

       <div class="input-group-btn" >
                 <button style="height:34px;margin-top: 0px;margin-left: 145px;" class="btn btn-default" ng-click="change_state('plot')" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>

        </div>    
  <!-- Collect the nav links, forms, and other content for toggling -->
  <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" style="color: white" data-toggle="dropdown">Decomposition<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Classical-Additive </a></li>
          <li class="divider"></li>
          <li><a href="#">Classical-Multiplicative</a></li>
          <li class="divider"></li>
          <li><a href="#">X-12-ARIMA</a></li> 
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" style="color: white" data-toggle="dropdown">Algorithm<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Linear REgression</a></li>
          <li class="divider"></li>
          <li><a href="#">polynomial</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" style="color: white" data-toggle="dropdown">Graph <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Violin plot</a></li>
          <li class="divider"></li>
          <li><a href="#">Scatter point</a></li>
          <li class="divider"></li>
          <li><a href="#">Histogram</a></li>
          <li class="divider"></li>
         </ul>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"  style="color: white">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" style="color: white" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse --> -->
</nav>


   </div>

<div class="row" style="height: 400px;background-color: #152C37;margin-top: 5px;margin-right: 0px;margin-left: 0px;">
    
  <div  class="col-md-12" style="margin-top: 1px">
    <div id="loaderDiv" loader>
        <img src="images/spin.svg" class="ajax-loader"/>
    </div> 
     <div ui-view class="main"> </div>  
 
  </div>     



 </div>


  <div  class="row text-center" style=" margin-left: 0px;    margin-right: 0px;    color: white;"> 
    <hr style=" border: 0px;
            width: 1298px;
            height: 1px;
            background-color: white;margin-top: 44px;"/> 

    © 2017 ABC Corporation
    </div>




</div>


        
   



 
 </div>