 <div class = "row" style = "color: white;">

<div class="col-md-6 col-sm-6">
 <h2 class="green">Stocks Analysis</h2>
 
The stock market goes up and down,Lorem ipsum dolor sit amet, nec nam rutrum tincidunt dolor venenatis sed, justo sit tempus vestibulum, ligula sit nibh augue. Morbi nulla, placerat turpis lectus rutrum ante a facilisi, suspendisse rhoncus integer sit quis, nam nunc velit commodo eu consequat at. Donec eget nunc orci id, pede commodo placerat. Praesent lacus, quisque metus sem. Rutrum lacus feugiat, dis dui, at malesuada leo in nisl. Ut laoreet integer nibh duis, fermentum ut ut metus id, curabitur semper amet faucibus. Non tempus odio fermentum, a vitae praesent. At at eros porta, mauris purus eget felis nullam, aliquet turpis nonummy velit justo. In dictum, venenatis iaculis, porttitor mauris nec, mauris eu aliquam amet elit, in pede vel.
In facilisis mus, ante ipsum neque amet litora, nec vestibulum. In commodo nulla lacus, ipsum sed, nullam semper placerat dignissimos. Libero hendrerit sem lectus lacus ullamcorper, neque amet sodales vel molestie. Proin vivamus augue enim praesent ut ut, convallis a sollicitudin sodales. Interdum ultricies eleifend fusce turpis commodo sed, scelerisque aenean posuere lacus, volutpat justo. Massa integer, tortor ut iaculis sodales diam sit, justo vivamus in. Molestie arcu massa, turpis orci gravida eros dictumst ac.
</div >

<div class="col-md-6  col-sm-6">
	
<img src="images\stock.jpg" style="width: 100%">
</div>

 

 </div>
       


