/* line 1, ../../../app/styles/assignment/grid.scss */
.cellToolTip {
  overflow: visible;
}

/* Global-font-style Configure*/
/*Html Configure */
/* Viewport Configure*/
/* Form Label Configure*/
/* line 48, ../../../app/styles/assignment/grid.scss */
.grid {
  width: 100%;
  height: 434px;
  border: none !important;
  margin-top: 5px;
}
/* line 54, ../../../app/styles/assignment/grid.scss */
.grid .watermark {
  position: absolute;
  top: 17%;
  transform: translateY(-50%);
  opacity: 0.25;
  width: 100%;
  text-align: center;
  z-index: 1000;
  font-size: 3em;
}
/* line 64, ../../../app/styles/assignment/grid.scss */
.grid .highlightField:hover {
  background-color: #ccf2fc;
}
/* line 67, ../../../app/styles/assignment/grid.scss */
.grid .cus {
  opacity: 1 !important;
  position: relative !important;
}
/* line 71, ../../../app/styles/assignment/grid.scss */
.grid .invalidated {
  background-color: #f2dede !important;
}
/* line 74, ../../../app/styles/assignment/grid.scss */
.grid .row {
  margin: 0px;
  width: 100%;
  display: block;
}
/* line 79, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper {
  border-top: 1px solid #e3e3e3;
}
/* line 84, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header {
  border-bottom: none;
  box-sizing: border-box;
  height: 32px;
}
/* line 93, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row {
  background-color: #ffffff;
}
/* line 96, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell {
  border-bottom: none;
  border-top: none;
  border-right: none;
}
/* line 102, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell:first-child .ui-grid-cell-contents {
  cursor: default;
}
/* line 104, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell:first-child .ui-grid-cell-contents .ui-grid-selection-row-header-buttons {
  display: none;
}
/* line 110, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell .ui-grid-cell-contents {
  cursor: default;
}
/* line 116, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell .ui-grid-cell-contents .ui-grid-selection-row-header-buttons {
  padding: 4px 0px;
}
/* line 119, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell .ui-grid-cell-contents:nth-child(6) {
  border-left: 0px;
}
/* line 128, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell:nth-child(1) div .ui-grid-header-cell-primary-focus + div {
  border: none !important;
}
/* line 133, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] {
  border-right: 0px;
}
/* line 138, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] {
  background: #ffffff;
  display: block;
  height: 24px;
  border-left: 1px solid #d5d6d7;
}
/* line 144, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container {
  padding: 0px;
  /* enable absolute positioning */
  /* style icon */
  /* align icon */
  /* add padding  */
}
/* line 148, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .select-filter-container .fa-angle-down {
  position: absolute;
  right: 0px;
  padding: 4px;
  padding-right: 12px;
  font-size: 12px;
  background: #ffffff;
}
/* line 156, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .select-filter-container .fa-angle-down:before {
  font-size: 14px;
  color: #86888b;
}
/* line 161, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .select-filter-container select {
  width: 100%;
  color: #86888b;
  border: none;
  outline: none;
  font-size: 11px;
  font-weight: normal;
  height: 24px;
  padding: 2px 5px;
}
/* line 172, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container input[type="text"].ui-grid-filter-input {
  border: none;
  outline: none;
  height: 24px;
  padding: 2px 10px;
  font-size: 12px;
  font-family: arial;
  color: #86888b;
  font-weight: normal;
}
/* line 182, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container input[type="text"].ui-grid-filter-input.feed-file-filter {
  padding-left: 21px;
}
/* line 188, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .inner-addon {
  position: relative;
}
/* line 193, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .left-addon .glyphicon {
  position: absolute;
  padding: 6px;
  pointer-events: none;
  color: #d5d6d7;
}
/* line 201, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .left-addon .glyphicon {
  left: 0px;
}
/* line 204, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .right-addon .glyphicon {
  right: 0px;
}
/* line 209, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .left-addon input {
  padding-left: 30px;
}
/* line 212, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .right-addon input {
  padding-right: 30px;
  left: 0px;
  pointer-events: none;
}
/* line 217, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] .ui-grid-filter-container .right-addon input.glyphicon-search {
  color: #86888b;
}
/* line 222, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] div[ui-grid-filter] :first-child {
  border-left: 0px;
}
/* line 226, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] .ui-grid-column-menu-button {
  top: 7px;
}
/* line 230, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell .ui-grid-header-cell-label {
  font-size: 12px;
  font-family: arial;
  font-weight: normal;
  padding: 0px 5px;
  color: #000000;
  font-weight: bold;
}
/* line 238, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell:first-child {
  border-left: none;
}
/* line 241, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell:last-child {
  width: 100%;
}
/* line 249, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-header .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell-row .ui-grid-header-cell-primary-focus {
  height: 39px;
  display: table-cell;
  border-left: 1px solid #e3e3e3;
}
/* line 261, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport {
  overflow-x: hidden !important;
  height: 384px;
  width: 100%;
}
/* line 268, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas {
  height: auto !important;
  position: relative;
  padding-top: 0px;
}
/* line 273, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row {
  cursor: default;
}
/* line 279, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row.ui-grid-row-selected [ui-grid-row] .ui-grid-cell {
  background-color: #ccf2fb !important;
  border-bottom: 1px solid #ffffff;
}
/* line 288, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell {
  background-color: #ccf2fc;
  overflow: hidden;
  float: left;
  background-color: inherit;
  border-left: 1px solid #ffffff;
  border-right: none;
  box-sizing: border-box;
  font-size: 11px;
}
/* line 300, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  border-left: none;
  border-bottom: none;
}
/* line 304, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents {
  padding: 8px 6px;
  cursor: default;
}
/* line 309, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents h1 {
  margin: 0px;
  font-size: 18px;
}
/* line 313, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents h2 {
  margin: 0px;
  font-size: 18px;
}
/* line 317, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents h3 {
  margin: 0px;
  font-size: 18px;
}
/* line 321, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents h4 {
  margin: 0px;
  font-size: 18px;
}
/* line 325, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents h5 {
  margin: 0px;
  font-size: 18px;
}
/* line 332, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents .ui-grid-selection-row-header-buttons.ui-grid-all-selected {
  padding: 4px 2px;
}
/* line 336, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .ui-grid-cell-contents:nth-child(6) {
  border-left: 0px;
}
/* line 340, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell div.action-cell-template {
  padding: 5px 10px;
  cursor: pointer;
}
/* line 344, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell input[type=checkbox] {
  padding: 0;
  margin: 6px 0;
  height: 16px;
  width: 16px;
  float: left;
  position: absolute;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
/* line 360, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell input[type=checkbox]:checked + span {
  background-position: 0px -14px;
}
/* line 364, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell label {
  padding: 1px 0 0 20px;
  float: left;
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin: -1px;
  font-weight: normal;
  font-size: 11px;
}
/* line 375, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell span.checkbox {
  width: 14px;
  height: 14px;
  background: url(../images/checkbox.gif) 0 0px no-repeat;
  display: inline-block;
  position: relative;
  left: 7px;
  margin: 0px;
  top: 7px;
}
/* line 386, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .grid-tooltip {
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 2px 4px;
  border: 1px solid #DCBD87;
  position: absolute;
  margin-top: 4px;
  width: 493px;
  word-break: normal;
  word-spacing: initial;
  white-space: normal;
  z-index: 10;
  text-transform: capitalize;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #888888;
}
/* line 402, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .grid-tooltip:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 18px;
  border-bottom: 6px solid #FCF8E3;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: -6px;
  z-index: 1;
}
/* line 413, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell .grid-tooltip:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 18px;
  border-bottom: 8px solid #DCBD87;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-left: -7px;
}
/* line 424, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .ui-grid-cell:first-child {
  font-size: 12px;
}
/* line 431, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #f7f7f7 !important;
  border-right: none;
}
/* line 438, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff !important;
}
/* line 443, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .grid-status-content .status-message {
  display: inline-block;
  padding-left: 20px;
  margin-top: 0px;
  position: absolute;
}
/* line 455, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .grid-status-content.skipped .status-message {
  background: url(../images/status_icons/skipped.png) no-repeat left top;
}
/* line 465, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .grid-status-content.inprogress .status-message {
  background: url(../images/status_icons/inprogress.png) no-repeat left top;
}
/* line 474, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .grid-status-content.active .status-message {
  background: url(../images/status_icons/active.png) no-repeat left top;
}
/* line 483, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-render-container .ui-grid-viewport .ui-grid-canvas .ui-grid-row .grid-status-content.inactive .status-message {
  background: url(../images/status_icons/inactive.png) no-repeat left top;
}
/* line 497, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-inner ul li button {
  background: #ffffff;
}
/* line 505, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .foot {
  border-top: 1px solid #E3E3E3;
  margin-top: 48px;
  padding: 10px;
}
/* line 510, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .foot .foot-total-items {
  font-size: 20px;
  float: left;
}
/* line 514, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .foot .foot-weightage {
  font-size: 20px;
  float: right;
}
/* line 519, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .grid-footer {
  background-color: #d5d6d7;
  height: 31px;
}
/* line 523, ../../../app/styles/assignment/grid.scss */
.grid .ui-grid-contents-wrapper .grid-footer span {
  font-weight: normal;
  padding: 8px 6px;
  /* position: fixed; */
  font-size: 11px;
  color: #53565a;
  display: block;
}

/* line 534, ../../../app/styles/assignment/grid.scss */
[role="button"]:nth-child(6) {
  background: red;
}

/*# sourceMappingURL=grid.css.map */